* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
}

body {
  background-color: #222;
  color: #c5850d;
  overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
